@import "variables";
@import "mixins";
body {
    margin: 0 auto;
    .container {
        display: flex;
        flex-direction: column;

        header {
            .phone {
                display: flex;

                font-family: $PtSans;
                background: $bc;
                color: $wc;
                
                padding-top: 1%;
                padding-bottom: 1%;
                font-size: 12px;
          a {
              text-decoration: none;
              font-family: $PtSans;
                background: $bc;
                color: $wc;
       
          }

          .phone1 {
             padding-left: 15%;
          }
          .registration {
              padding-left: 30%;
              box-sizing: border-box;
            
          }
                
             
            }

            .menu {
               display: flex;

                background: $gc;
                color: $wc;
                .porten {
                    display: flex;
                    align-items: center;
                    margin-left: 15%;
                    margin-right: 7%;
                    @include porten;
                    font-size: 36px;
                }
                .podmenu {
                    
                    @include fle;
                    padding-left: 24%;
                    justify-content: space-between;
                    font-family: $PtSans; 
                    div {
                        @include podmenu;
                        a {
                            color: white;
                            text-decoration: none;

                            &:hover {
                                background: #1F1F1F;
                            
                             }
                        }
                    }
                }
            }

        }

      .portensec {
        background-image: url("D:/man shop/man2/images/portensec.png");
       background-size: 100% 100%;
        
           .centerblock {
             @include centerblock(4%, 2%, 4%, 2%, 4px, solid, $wc, 24%, auto, 10%, auto );
               .porten {
                @include porten; 
                font-size: 40px;
                text-align: center;
               }
               .podblock {
                @include sanPT;
               }

              
           }
           .portenText {
            @include sanPT;
            font-size: 16px;
            line-height: 150%;
            width: 50%;
            height: auto;
margin: 10% auto;
        }
       }




       .season {
display: flex;
// flex-wrap: wrap;
       
      
           .season1 {
               padding-left: 3%;
               padding-right: 3%;
               background: $bc;
               flex-grow: 1;
               display: flex;
               flex-direction: column;
               font-family: $Playfair;

               .s-1 {
                @include seasonF;
                font-size: 36px;
                margin-top: 6%;
                margin-bottom: 6%;
               }

               .cloki {
              
                  display: flex;
                  margin: 3%;
                .cloki-item {
        

                   .cloki-item1 {
                       @include seasonF;
                       font-size: 15px;
                       margin-bottom: -10%;
                   }

                   .cloki-item2 {
                
                    @include seasonF;
                    font-size: 12px;
                }
                }

               }
           }
           .season2 {
               display: flex;
               justify-content: center;
            //    align-items: center;
               flex-direction: column;
               flex-grow: 1;
            background-image: url("D:/man shop/man/images/mantree.png");
            background-size: 100% 100%;
            // background: $bc;

           .newcol {
               @include seasonF;
               font-size: 36px;
             margin: 50% 3% 2% 3%; 
           }
           .catg {
               @include sanPT;
               font-size: 18px;
               font-weight: normal;
               @include centerblock(2%, 2%, 2%, 2%, 1px, solid, $wc, 35%, auto, 3%, auto );
           }
           }

       }

       .collection {
     display: flex;
     flex-wrap: wrap;
   
           .collection1 {
            background-image: url("D:/man shop/man/images/blackwhite.png");
            background-size: 100% 100%;
      width: 40%;
           height: auto;
           }

           .collection2 {
               width: 60%;
               background: $bc;
               .col2018 {
                @include seasonF;
                font-weight: normal;
                font-size: 32px;
                margin-top: 5%;
               }

               .text2018 {
                @include sanPT;
                font-weight: normal;
                line-height: 130%;
                width: 60%;
            height: auto;
margin: 5% auto;
font-size: 12p;
               }

               .look {
                @include sanPT;
                font-weight: normal;
                line-height: 23px;
                letter-spacing: 0.1em;
                font-size: 16px;
                @include centerblock(3%, 3%, 3%, 3%, 1px, solid, $wc, 35%, auto, 2%, auto );
                margin-bottom: 2%;
               }
           }
       }

       .newArr {
           background: $bc;
        display: flex;
        flex-direction: column;
           .arrivalsText {
               @include seasonF;
               font-size: 34px;
               margin-top: 100px;
               }

               .gallery {
                 @include cloki;
                 padding: 4% 15%;
                 align-content: stretch;
               }
           }


           .brands {
            background: $gc;
            display: flex;
            flex-direction: column;
               .OurBrands {
                @include seasonF;
                font-size: 34px;
                margin-top: 50px;
               }

               .allbrands {
                   margin-top: 50px;
                   margin-bottom: 40px;
                   display: flex;
                   flex-wrap: wrap;
                   justify-content: space-around;

               }
           }

           .footer1 {
            background-image: url("D:/man shop/man/images/man.png");
            background-size: 100% 100%;
            display: flex;
            padding: 2%;
            // flex-wrap: wrap;
            .about {
                .shop {
                    @include seasonF;
                    font-weight: normal;
                    font-size: 24px;
                    // padding-right: 40%;
                    display: flex;
                    justify-content: start;
                    line-height: 32px;
                    margin-bottom: 5%;
                    margin-left: 14%;
                }
                .aboutshop {
                    @include sanPT;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 130%;
                    width: 65%;
                }
            }

           .categories {
               width: 60%;
               margin-right: 35%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
           
               .cat1 {
            font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 24px;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 5%;

               }
               .items {
                // margin-left: -420px;
                display: flex;
                flex-direction: row;
                margin-left: 0%;
               flex-wrap: wrap;
              padding: 2%;
            

                .item1 {
                  @include  sanPT;
                margin: 4%;
                width: 50%;
                padding: 1% 4% 1% 4%;
                  background: black;
                  font-weight: normal;
font-size: 12px;
line-height: 190%;
                }
               }
           }
           }

           .footer2 {
               background: $bc;
               @include sanPT;
               font-weight: normal;
font-size: 12px;
color: #D0D0D0;

display: flex;
flex-direction: row;
flex-wrap: wrap;
padding-top: 10px;
padding-right: 10px;

.f2-item1 {
margin-left: 205px;
}
.f2-item2 {
    margin-left: 705px;
}
           }
       }
    
}

@media screen and (max-width: 960px) {
    body .container header .phone .phone1 {
        padding-left: 4%;
    }
    body .container header .menu .podmenu {
        padding-left: 15%;
    }
    body .container .portensec .portenText  {
        font-size: 14px;
        width: 60%;
    }
}

@media screen and (max-width: 732px) {
    body .container header .phone .phone1 {
        padding-left: 2%;
    }

    body .container header .phone .registration {
        padding-left: 20%;
    }

    body .container header .menu .podmenu {
        padding-left: 4%;
        font-size: 8px;
    }
    body .container header .menu .porten {
        padding-left: 0%;
        margin-left: 1%;
        font-size: 30px;
    }

}


@media screen and (max-width: 460px) {
    body .container header .phone {
        padding: 1%;
        font-size: 11px;
    }
    body .container header .phone .phone1 {
        margin: 1%;
    }
    body .container header .phone .registration {
        margin: 1%;
    }
}

@media screen and (max-width: 900px) {
    body .container header .menu .podmenu {
        padding-left: 10%;
    }
    body .container header .menu .porten {
        padding-left: 1%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 790px) {
    body .container header .menu .podmenu {
        padding-left: 7%;
    }
    body .container header .menu .porten {
        padding-left: 0%;
        margin-left: 3%;
    }

    body .container .portensec .centerblock {
        padding: 2% 4% 2% 4%;
        width: 27%;
    }
    body .container .portensec .centerblock .porten {
        font-size: 30px;
    }
}


@media screen and (max-width: 703px) {
    body .container header .menu .podmenu {
        padding-left: 2%;
    }
    body .container header .menu .podmenu div {
        font-size: 12px;
    }
    body .container header .menu .porten {
        padding-left: 0%;
        margin-left: 1%;
        font-size: 25px;
    }
}
@media screen and (max-width: 626px) {
    body .container header .menu .podmenu {
        padding-left: 0%;
       
    }
    body .container header .menu .podmenu div {
        font-size: 12px;
    }
    body .container header .menu .porten {
        margin-left: 1%;
        font-size: 16px;
    }
}

@media screen and (max-width: 525px) {
    body .container header .menu .podmenu div {
        font-size: 11px;
    }
    body .container header .menu .porten {
        margin-left: 1%;
        font-size: 15px;
    }
}

@media screen and (max-width: 492px)  {
    body .container header .menu {
        flex-wrap: wrap;
    }
    body .container header .menu .porten {
        margin-left: 42%;
        margin-top: 4%;
    }
    body .container header .menu .podmenu  {
        font-size: 11px;
        margin-top: -3%;
    }
}

@media screen and (max-width: 1200px) {
    body .container header .menu .podmenu {
        display: flex;
        text-align: center;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 850px) {
    body .container .portensec .centerblock {
        padding: 3% 1% 3% 1%;
        width: 24%;
    }
    body .container .portensec .centerblock .porten {
        font-size: 35px;
    }
}

@media screen and (max-width: 760px) {
    body .container .portensec .centerblock {
        padding: 3% 3%;
        width: 30%;
    }
    body .container .portensec .centerblock .porten {
        font-size: 35px;
    }
}

@media screen and (max-width: 650px) {
    body .container .portensec .portenText {
        width: 70%;
    }
    
}

@media screen and (max-width: 580px) {
    body .container .portensec .portenText {
        width: 80%;
        font-size: 12px;
    }
    body .container .portensec .centerblock .porten {
        font-size: 28px;
    }

    body .container header .menu .porten {
        font-size: 20px;
    }
}


@media screen and (max-width: 480px) {
    body .container .portensec .portenText {
        width: 90%;
        font-size: 10px;
    }
    body .container .portensec .centerblock .porten {
        font-size: 24px;
    }
    body .container .portensec .centerblock {
        padding: 1% 2%;
        width: 50%;

    }
}


@media screen and (max-width: 1200px) {
    body .container .season .season1 {
        padding-right: 0%;
        padding-left: 0%;
       
    }
    
body .container .season .season2 .newcol {
    font-size: 32px;
}
}

@media screen and (max-width: 1100px) {
    body .container .season .season1 {
        padding-right: 0%;
        padding-left: 0%;
    }

    body .container .season .season1 .cloki {
        margin: 0%;
    }
    body .container .season .season1 .cloki .cloki-item {
padding-left: 0%;
padding-right: 0%;
    }
    body .container .season .season1 .s-1  {
        margin-top: 4%;
        margin-bottom: 4%;
    }
}

@media screen and (max-width: 1030px) {
    body .container .season {
        flex-wrap: wrap;
    }
    body .container .season .season1 .cloki {
       display: flex;
       justify-content: space-around;
       flex-wrap: wrap;
    }

    body .container .season .season1 .s-1  {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        // padding-left: 0%;
        // margin-left: 0%;
        // text-align: left;
    }
    body .container .season .season2 .newcol {
        font-size: 30px;
        margin-top: 40%;
        
    } 
}


@media screen and (max-width: 610px) {
    body .container .season .season2 .newcol {
        font-size: 25px;
    }

    body .container .season .season2 .newcol .catg {
        font-size: 16px;
        margin: 1% auto;
        width: 20%;
    }
    
}

@media screen and (max-width: 1030px) {
    body .container .collection .collection2 .text2018 {
       width: 90%;
      }
}

@media screen and (max-width: 957px) {
    body .container .collection .collection2 .col2018 {
        font-size: 35px;
    } 
    body .container .collection .collection2 .text2018 {
        font-size: 12px;
    }
}

@media screen and (max-width: 980px)  {
    body .container .collection .collection2 {
        width: 100%;
    }
    body .container .collection .collection2 .text2018 {
        font-size: 15px;
    }
}

@media screen and (max-width: 945px)  {
    body .container .newArr .gallery {
        padding: 3% 10%;
    }
}

@media screen and (max-width: 830px)  {
    body .container .newArr .gallery {
        padding: 2% 6%;
    }
}

@media screen and (max-width: 755px)  {
    body .container .newArr .gallery {
        padding: 2% 2%;
    }
}

@media screen and (max-width: 690px) {
    body .container .newArr .gallery 
    {justify-content: space-around; }
}