$bc: #000000;
$gc: #0F0F0F;
$wc: #FFFFFF;
$clc: #191B1C;
$mailc: rgba(255, 255, 255, 0.4);
$PtSans: 'PT Sans', sans-serif;
$PostNoBills: 'Post No Bills Jaffna', sans-serif;
$Playfair: 'Playfair Display', serif;